<div class="container-fluid">
  <div class="col-lg-10 col-lg-offset-1">
    <h1 class="text-center">US Time Zone Display</h1>
      <div class="row content">
        <div class="col-md-8 col-md-offset-2 button-wrapper">
          <button
            class="btn btn-lg"
            (click)="timeZone = 'America/Los_Angeles'"
            [ngClass]="{'yellow': timeZone === 'America/Los_Angeles'}">PST</button>
          <button
            class="btn btn-lg"
            (click)="timeZone = 'America/Denver'"
            [ngClass]="{'yellow': timeZone === 'America/Denver'}">MST</button>
          <button
            class="btn btn-lg"
            (click)="timeZone = 'America/Chicago'"
            [ngClass]="{'yellow': timeZone === 'America/Chicago'}">CST</button>
          <button
            class="btn btn-lg"
            (click)="timeZone = 'America/New_York'"
            [ngClass]="{'yellow': timeZone === 'America/New_York'}">EST</button>
          <button
            class="btn btn-lg btn-danger"
            (click)="timeZone = null">Clear</button>
        </div>
      </div>
    <h2 class="text-center">{{today | amTz:timeZone | amDateFormat:'MMMM D, YYYY, h:mm a'}}</h2>
  </div>
</div>
